<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 扫描这个包下面的注解 -->
	<context:component-scan base-package="com.aichi.controller"></context:component-scan>
	
	<!-- 拦截器的配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- /**包括路径及其子路径    
		 如果是/adimin/* 拦截的是/admin/add,/admin/list   /admin/user/add不被拦截 
		 如果是/admin/** 上面都能被拦截
		     -->
			<mvc:mapping path="/**"/>
			<!-- 对应的拦截器 -->
			<bean class="com.aichi.interceptor.LoginInterceptor">
				<property name="allowedPass">
					<list>
						<value>login</value>
						<value>/aichi/frontList</value>
						<value>/aichi/loadProduct</value>
						<value>/aichi/receiver_info</value>
						<value>/aichi/buyerLogin</value>
						<value>/aichi/customerQuery</value>
						<value>/aichi/orderList</value>
						<value>/aichi/productList</value>
						<value>/aichi/masterList</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	<!-- 用于将对象转换成json 返回json 方法需要导入 jackson-annotations.jar,jackson-core.jar,jackson-databind.jar -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
			<!-- 配置渲染器 -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsps/" />
		<property name="suffix" value=".jsp" />
	</bean>	
	
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>  <!-- 这句要加上要不然requestMapping不会生效 -->
	<!-- 静态资源处理， css， js， imgs -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
</beans>